<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script src="https://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
</head>
<body>

<div ng-app="myApp" ng-controller="myCtrl">

    <select ng-init="selectedName = names[0]"
            ng-model="selectedName"
            ng-options="x for x in names">
    </select>
    <p>ng-repeat 指令是通过数组来循环 HTML 代码来创建下拉列表，但 ng-options 指令更适合创建下拉列表，它有以下优势：
        <br />
        使用 ng-options 的选项的一个对象， ng-repeat 是一个字符串。
    </p>
<br />

    <select>
        <option ng-repeat="x in names">{{x}}</option>
    </select>
</div>

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
    $scope.names = ["Google", "Runoob", "Taobao"];
});
</script>

<p>该实例演示了 ng-options 指令的使用。</p>

</body>
</html>