<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script src="https://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
    <style>
        table, th , td {
          border: 1px solid grey;
          border-collapse: collapse;
          padding: 5px;
        }
/****
        table tr:nth-child(odd) {
          background-color: #f1f1f1;
        }
        table tr:nth-child(even) {
          background-color: #fff;
        } *****/
    </style>
</head>
<body>

<div ng-app="myApp" ng-controller="customersCtrl">

    <table>
        <!--0.使用 orderBy 过滤器 -->
        <tr ng-repeat="x in records | orderBy : 'Country'">
            <!--1.显示序号-->
            <td>{{ $index + 1 }}</td>
            <!-- 3.使用$odd 和 $even 过滤器 -->
            <td ng-if="$odd" style="background-color:#f1f1f1">{{ x.Name }}</td>
            <td ng-if="$even">{{ x.Name }}</td>
            <!--2.使用 uppercase 过滤器 -->
            <td ng-if="$odd" style="background-color:#f1f1f1">{{ x.Country | uppercase }}</td>
            <td ng-if="$even">{{ x.Country | uppercase }}</td>
        </tr>
    </table>

</div>

<script>
var app = angular.module('myApp', []);
app.controller('customersCtrl', function($scope, $http) {
    $http.get("./scripts/json/customers.json")
    .then(function (response) {
        $scope.records = response.data.records;
    });
});
</script>

</body>
</html>